body{
    background-color: bisque;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    text-align: center;
}

h1{
    color: orangered;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
h2,
h3{
    color: palevioletred;
    font-size: 30px;
    text-align: center;
}
img{
    width: 125px;
    height: 200px;

}
